<div class="test">
  <h2>About Myself</h2>
    <ul>
      <li>I'm currently living in Randolph, MA which is south of Boston, MA.</li>
      <li>Seeking a position that will utilize my experience in customer support that will also foster my growth in the web development field.</li>
      <li>I've contributed to some open source projects through Github. While I'm still waiting for my first pull request to be approved, I enjoy looking for OS projects and learning from contributing to them.</li>  
      <li>That I've been promoted twice with my current employer. I belive this show I'm willing to adapt and grow.</li>
      <li>I'm fluent in Spanish but only spoken. I would be willing to learn to write in Spanish in order to translate documentation and assist clients that require interpretation.</li>
      <li>I have working knowledge of both HTML and CSS through building web pages and applications. I understand how to use HTML for structure and CSS for styles primarily though external stylesheets. I was introduced to Javascript when I attended the <a href="https://www.thefirehoseproject.com/?home=true">Firehose Project</a> and am now learning JS through <a href="https://www.freecodecamp.com/fredosantana">FreeCodeCamp.</a></li> 
      <li>I'm always eager to learn about new technologies and be able to communicate how to use these effectively to clients.</li>
      <li>Here's the <a href="https://github.com/fredosantana/skyverge_page">Github repo</a> for this page. This was the most fun I've ever had applying for a job. Thanks for the opportunity!</li>
    </ul>
  <h2>A Day In the Life</h2>
      <p><blockquote>"Thank you for your email! While we do not offer a live image preview feature at this time, I'll speak to our development team to implement this feature. I'll keep you posted once I hear from them."</blockquote></p>
  <h2>Fire Alarm</h2>
  <p>First I'll scan through the first ten emails to get an idea of what the issue is. Then I'll contact the appropriate individual/team in order to resolve the issue. I will then develop a template response to clients that would first apologize for the issue then assure them the development team are working to resolve it. If there's a web page associated with it, the template response would also be noted on there.</p> 
  <h2>Step-by-Step</h2>
  <p>So there I was browsing at Home Depot where all of a sudden the lights caught my attention. Bluetooth light bulbs to be precise. HD's selection was limited to the usual name brands that typically go for $60 a bulb. Cheaper ones were simply white bulbs.</p>
  <p>Then I decided to check Amazon and found a brand called <a href="https://www.fluxsmartlighting.com/">Flux</a>. This<a href="https://www.amazon.com/Flux-Bluetooth-Smart-Light-Generation/dp/B016NVSI7G"> bulb</a> in particular was relatively cheaper than others that have comparable features. Plus the reviews overall were positive so I went ahead and purchased one. It's so simple to use and has so many features that I wound up buying another.</p>  
</div>

