@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Monoton');
@import url('https://fonts.googleapis.com/css?family=Days+One');

.navbar.navbar-inverse {
  background-image: url('cloudy-day.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}

.navbar-brand {
  font-family: 'Days One', sans-serif;
  margin: -20px;
}

.navbar-brand a:hover {
  text-decoration: none;
}


.social-button {
  width: 32px;
  margin: 2px;
  padding: 0px;
}

.social a:hover {
  text-decoration: none;
}

.test {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0 20px;
  margin: 0 10px;
}

body {
  background-image: url('ep_naturalwhite.png'); 
}

.test a:hover {
  text-decoration: none;
}
